@import '~leaflet/dist/leaflet.css';

.app {
  display: flex;
  flex-wrap: wrap;
}

.map-container {
  height: 100%;
}

.map-container-wrapper {
  height: 600px;
  min-width: 40%;
  flex: 1;
}

.timeline {
  flex: 1;
  min-width: 400px
}
